# Python
venv/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Environment files
.env
.env.*
!.env.*.template

# Django
db.sqlite3
*.log
logs/
staticfiles/
media/
*.pid

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
